{% extends 'base.html' %}

{% block content %}

  <h2>Add-Account Template</h2>

  <form action="" method="post">
    {% csrf_token %}

    <p><b>Maintenance Code: </b>A</p>
    <p><b>Country Code: </b>{{ add_form.country_code }}</p>
    <p><b>Account Number: </b>{{ add_form.account_number }}</p>
    <p><b>Account Name: </b>{{ add_form.account_name }}</p>
    <p><b>Currency: </b>{{ add_form.currency }}</p>
    <p><b>Keep subsidiary: </b>{{ add_form.keep_subsidiary }}</p>
    <p><b>Requestor: </b>{{ add_form.requestor }}</p>
    <p><b>Approver: </b>{{ add_form.approver }}</p>
    <p><b>Additional_info: </b>{{ add_form.additional_info }}</p>
    <p><b>Created_by: </b>{{ add_form.created_by }}</p>

    <input type="submit" value="Submit">
  </form>

{% endblock %}