<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account change ONLINE form</title>
</head>
<body>

  <h1/>Account change ONLINE form</h1>


  <form method="post" action="{% url 'account_add' %}">
  {% csrf_token %}
  <input type="text" name="maintenance_type" value="{{ maintenance_type }}">
  <input type="text" name="country_code" value="{{ country_code }}">
  <input type="text" name="account_number" value="{{ account_number }}">
  <input type="text" name="account_name" value="{{ account_name }}">
  <input type="text" name="currency" value="{{ currency }}">
  <button type="submit">Submit</button>
</form>

<!--    <form action="" method="post">-->
<!--    {% csrf_token %}-->

<!--    <p><b>Country Code: </b>{{ change_form.country_code }}</p>-->
<!--    <p><b>Account Number: </b>{{ change_form.account_number }}</p>-->
<!--    <p><b>Account Name: </b>{{ change_form.account_name }}</p>-->

<!--        <input type="submit" value="Submit">-->

<!--    </form>-->

</body>

</html>