<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account change ONLINE form</title>
</head>
<body>

  <h1/>Account change ONLINE form</h1>


  <form method="post" action="{% url 'account_change' %}">
  {% csrf_token %}

    <p><b>Maintenance Code: </b>C</p>
    <p><b>Country Code: </b>{{ change_form.country_code }}</p>
    <p><b>Account Number: </b>{{ change_form.account_number }}</p>
    <p><b>Account Name: </b>{{ change_form.account_name }}</p>
    <p><b>Requestor: </b>{{ change_form.requestor }}</p>
    <p><b>Approver: </b>{{ change_form.approver }}</p>
    <p><b>Additional_info: </b>{{ change_form.additional_info }}</p>
    <p><b>Created_by: </b>{{ change_form.created_by }}</p>

  <button type="submit">Submit</button>
</form>

</body>

</html>