<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h2>Tell me what to do:</h2>
      <ol>
          <h3>Create GL account using ONLINE form</h3>
          <form method="post" action="">
            {% csrf_token %}
              <p>{{ maintenance_type }}<p>
          <button type="submit">Upload</button>
          </form>



          <h3>Create GL account using UPLOAD option</h3>

              <p><a href='/upload'>Upload Excel</a></p>
      </ol>


<!--      <form method="post" enctype="multipart/form-data">-->
<!--          {% csrf_token %}-->
<!--          <input type="file" name="excel_file">-->
<!--          <button type="submit">Upload</button>-->
<!--      </form>-->

</body>
</html>